.services {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-image: url(../../assets/serviceBG.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  clip-path: ellipse(99% 57% at 50% 44%);
}
.service {
  background-image: url(../../assets/service.png);
  width: 15em;
  height: 65%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: end;
  border-radius: 1em;
  box-shadow: 0 0 15px #444;
  position: relative;
  overflow: hidden;
  transition: 0.2s;
}
.services-box .service:nth-child(2) {
  background-image: url(../../assets/service1.png);
}
.services-box .service:nth-child(3) {
  background-image: url(../../assets/service2.png);
}
.services-box .service:nth-child(4) {
  background-image: url(../../assets/service3.png);
}
.service::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(360deg, #000000db, #00000000 60%);
}
.service h4 {
  color: #fff;
  margin: 0.8em;
  text-align: center;
  font-family: Ubuntu;
  font-size: 38px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  z-index: 10;
}
.service:hover {
  transform: translateY(-1em);
}
