.products {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: space-between;
  margin-bottom: 8em;
}
.products h2 {
}
.products p {
  width: 70%;
  margin-bottom: 5em;
}
.products-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
  padding-bottom: 1em;
}
.product {
  border-radius: 30px;
  background: #fff;
  box-shadow: 0px 8px 42.2px -3px rgba(0, 0, 0, 0.2);

  height: 30em;
  width: 20em;
  transition: 0.4s;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product:hover {
  transform: scale(1.1);
  box-shadow: 0px 8px 42.2px 3px rgba(0, 0, 0, 0.4);
}
.product img {
  position: relative;
  top: -2px;
  width: 100%;
}
.product h4 {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  /* line-height: 41px; */
  text-align: center;
  color: #f68a72;
  margin: 10% 0 0 0;
}
.product p {
  margin: 5% 0 10% 0;
}
