.GetApp {
  height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-block: 5em;
}
.GetApp p {
  transform: translateY(-10vh);
  color: #596778;

  font-size: 22px;
  font-family: "Poppins";
}
span {
  width: 60%;
  height: 1px;
  background: #444;
  transform: translateY(-4vh);
}
.GetApp h2 {
  font-size: 72px;
  margin-block: 5vh;
}
.GetApp .btn-box {
  display: flex;
  justify-content: center;
  width: 35%;
  margin-block: 2em;
}
.GetApp .btn-box a {
  display: flex;
  justify-content: center;
  width: 20em;
  margin-inline: 1em;
}
.GetApp .btn-box a img {
  width: 100%;
}
