.GetApp {
  height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.GetApp p {
  transform: translateY(-10vh);
}
span {
  width: 60%;
  height: 1px;
  background: #444;
  transform: translateY(-4vh);
}
.GetApp h2 {
  font-size: 72px;
}
.GetApp .btn-box {
  display: flex;
  justify-content: center;
}
.GetApp .btn-box a {
  display: flex;
  justify-content: center;
}
.GetApp .btn-box a img {
  width: 60%;
}
