.break {
  display: flex;
  align-items: center;
  height: 70vh;
  background: #fff3e0;
  /* margin-top: 40vh; */
  overflow: hidden;
  background-image: url(../../assets/breakBG.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.break img {
  height: 100%;
  width: 50%;
  clip-path: ellipse(100% 100% at 0% 50%);
}
.break .content {
  width: 100%;
  background: linear-gradient(90deg, #2980ba 0%, rgba(90, 194, 227, 0) 100%);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-inline: 10%;
}
.break .content h4 {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  margin: 0;
  color: #fff;
  width: 50%;
}
.break .content p {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: #fff;
  width: 41ch;
  text-align: left;
}
